################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OpenAuth.Mvc/bin
/OpenAuth.Repository/bin/Debug
/OpenAuth.Repository/obj/Debug
/OpenAuth.UnitTest/bin/Debug
/OpenAuth.UnitTest/obj/Debug
/OpenAuth.WebApi/bin
/OpenAuth.WebTest/bin
/OpenAuth.WebTest/obj/Debug
/packages
/OpenAuth.WebApi/obj/Debug
/OpenAuth.Mvc/log
/OpenAuth.Mvc/obj/Debug
*.user
/OpenAuth.Domain/obj/Debug
/OpenAuth.App/obj/Debug
/OpenAuth.Domain/bin/Debug
/OpenAuth.App/bin
/Infrastructure/bin/Debug
/Infrastructure/obj/Debug
/.vs
/OpenAuth.sln.GhostDoc.xml
/类结构.mdj
/数据库设计关系图/OpenAuthDB.pdb
*.dll
/Infrastructure/bin/Release
/Infrastructure/obj/Release
/OpenAuth.App/obj/Release
/OpenAuth.Domain/bin/Release
/OpenAuth.Domain/obj/Release
/OpenAuth.Mvc/obj/Release
/OpenAuth.Repository/bin/Release
/OpenAuth.Repository/obj/Release
/OpenAuth.UnitTest/obj/Release
/OpenAuth.WebApi/obj/Release
/OpenAuth.WebTest/obj/Release
/OpenAuth.UnitTest/bin/Release
/TaxCloud.Web/bin
/TaxCloud.Web/obj/Debug
/TaxCloud.Db/bin/Debug
/TaxCloud.Db/obj/Debug
/TaxCloud.Db/bin/Release
/TaxCloud.Db/obj/Release
obj
/TaxCloud.Redis/bin
bin
/TaxCloud.Web/Images
/TaxCloud.Web/Log
File
/TaxCloud.Web/Data
/TaxCloud.Web/Web.config
/TaxCloud.Web/Content
/TaxCloud.Web/Web.Debug.config
/TaxCloud.Web/Web.Release.config

!/OpenAuth.Page/*.dll
/TaxCloud.Web/File/
/TaxCloud.Web/Files/